nav a{
    background-color:#D9F9DF;
    width:100px;
    height: 30px;
    border: 1px solid green;
    border-radius: 20px;
    padding:5px 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    
}
nav {
    display:flex;
    justify-content: end;
    gap:20px;
    align-items: center;


}